{
    "presets": [["env", { "modules": false }]],
    "env": {
        "test": {
            "presets": [["env", { "targets": { "node": "current" } }]]
            },
        "vue": {
            "presets":[["env",{"targets":{"vuejs":"current"}}]]
        }
    }
}